allow toolbox resourcecache_data_file:dir { getattr open read setattr rmdir };
allow toolbox resourcecache_data_file:file { getattr open read unlink };
