<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-24 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mydevice.dolby.profile.overlay" 
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="co.aospa.dolby.xiaomi" 
        android:priority="1"
        android:isStatic="true" />
</manifest>
